.calculator {
  border: 1px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding-bottom: 30px;
}

.calculator-screen {
  width: 100%;
  height: 70px;
  border: none;
  background-color: #333333;
  color: #ffffff;
  font-size: 42px;
  text-align: right;
  padding-right: 15px;
}

button {
  width: 60px;
  height: 60px;
  background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
  border: 1px solid #c4c4c4;
  color: #333333;
  font-size: 25px;
  margin-top: 30px;
  justify-content: center;
  align-content: center;
  border-radius: 50%;
  margin-left: 30px;
  
}
button:after {
  content:attr(alt);
  width:60px;
  height:60px;
  display:flex;
  align-items:center;
  justify-content:center;
}



button:hover {
  animation:slidebg 2s linear infinite;
}
@keyframes slidebg {
  to {
    background-position:60px;
  }
}

.operator {
  color: darkblue;
}

.all-clear {
  background-color: #f0595f;
  border-color: #b0353a;
  color: #fff;
}

.all-clear:hover {
  background-color: fuchsia;
}
